#map {
    width: 800px;
    height: 600px;
    border: 1px solid var(--color-border);
    border-radius: 20px;
    flex-shrink: 0;
    background-color: var(--color-bg-map);

  }

.leaflet-tile {
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
    background-color: var(--color-bg-map-tile);
}

.leaflet-tile-container {
    background: var(--color-bg-map-tile);
}
