MQTT_HOST=changeme.cloud-broker.example.com
MQTT_PORT=8883
MQTT_USERNAME=changeme
MQTT_PASSWORD=changeme
MQTT_USE_TLS=true
MQTT_TOPIC=factory/test

INFLUXDB_TOKEN=changeme
INFLUXDB_ORG=MyOrg
INFLUXDB_BUCKET=Events

TRIP_SERVICE_ADDRESS=http://changeme:5001
